@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0c0c0c;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo i{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:#65486d;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span{
    display: block;
    width: 100%;
    margin: 5px 0px;
    background-color: rgb(56, 67, 64);
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: bisque;
    margin-right: 2.5rem;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #4444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5{
    font-size: 14px;
    color: #e5e5e5;
}

.hero-text h5 span{
    font-size: 18px;
    color: #8c589c;
}

.hero-text h1{
    font-size: 3rem;
    color: #8a52aa;
}

.hero-text p{
    color: rgb(236, 236, 227);
}

.btn-group{
    margin:45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #252425;
    padding: 12px 25px;
    margin: 5px 0;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    margin-right: 7px;
    box-shadow: 0 10px 10px -8pz rgb(27, 28, 27);
}

.btn.active{
    border-color: #007ced;
}

.hero-text .social i{
    color:#e5efef;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}

.projects{
    padding: 100px 0;
}

.projects h1{
    font-size: 3rem;
    color: #a387b3;
    font-weight: bold;
    font-family:Geneva , poppins;
}

.projects .project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px ;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.project-grid .project{
    background-color: #b4b0b0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px -8px rgb(27,
    28, 27);
}


.project-grid .project img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-grid .project img:hover{
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-grid .project {
    padding: 20px;
}
.project-grid .project h3{
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    font-family:Geneva , poppins;
}
.project-grid .project  p{
    font-size: 1rem;
    color: #000000;
    font-family:Geneva , poppins;
}
.project-grid .project  a{
    text-decoration: none;
    color: #932737;
    font-size: 1.3rem;
    font-family:Geneva , poppins;   
}
.project-grid .project a:hover{
    color: #b80000b2;
    transition: 0.3s;
    font-size: 1.5rem;
}
.project-grid .project a:active{
    color: #050505;
    transition: 0.3s;
}

.contacts{
    background-color: #0b0a0a;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: wheat;
}


.contacts h1{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family:Geneva , poppins;
}
.contacts .contact-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}
.contacts .contact-info .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;  
    color: white;
}

.contacts .contact-info .info a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;  
}

.contacts .contact-info .info i{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.contacts .contact-info .info p{
    font-size: 1.2rem;
    
    font-family:Geneva , poppins;
    color: white;
}




@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }

    .click{
        top:45px;
    }

    .click span{
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-40deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(50deg);
        top:0;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100px;;
        bottom:60%;
        height:100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlinks li{
        display: block;
    }

    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open{
        right:0;
    }
}

@media(max-width:768px){
    .container{
        padding-top: 2rem;
        flex-direction: column; 
    }

    .hero-text{
        padding: 40px 0px;
    }
    
    .projects{
        padding: 20px 20px;
    }

    .projects .project-grid{
        display:block;
        justify-content: center;
        gap : 70px;
        column-gap: 10px;
        
        
    }
    .projects .project-grid .project{
        width: 100%;
        padding: 20px 10px 30px 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0);
        transition: 0.5s;
        margin-top: 10px;
        
    }
    .project-grid .project{
        background-color: #524444;
        padding: 15px 10px 15px 10px;
        column-gap: 10px;;
        border-radius: 10px;
        box-shadow: 0 10px 10px -8px rgb(27,
        28, 27);
    }
    .project-grid .project img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .project-grid .project .project-info{
        padding: 20px; 
    }


    .contacts{
        display:wrap;
        justify-content: center;
    }

    .contacts .contact-info{
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }
 
    .contacts .contact-info .info a{
        text-decoration: none;
        color: #fff;
        margin: 2px;
    }


    .contacts .contact-info .info i{
        width: 3px;
        height: 3px;
        padding: 20px 20px;
        margin:1px 1px;
    }
    .contacts .contact-info .info p{
        font-size: 0.8rem;
        margin: 20px 0;
        padding: 2px;
    }
    .btn-group{
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        
    }
    
    .btn-group a{
        border-color: #d5d5d5;
        flex-direction: column;
        align-items: center;
        color: #fff;
        background-color: #252425;
        padding: 12px 25px;
        margin: 5px 0;
        border-radius: 30px;
        border: 2px solid #e5e5e5;
        margin-right: 7px;
        box-shadow: 0 10px 10px -8pz rgb(27, 28, 27);
    }
    
    
}

